#menu {

    background-color: #396F4F;

}

.nav-link {
    color: #F7F4E9;
}

.navbar-toggler {
    position:fixed;
    right: 20px;
}

body{
    background-color: #C2A47B;
}

footer{

    background-color: #396F4F;

}